@import url("https://fonts.googleapis.com/css2?family=inter:wght@300;400;500;700&display=swap");

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
    font-size: 16pt;
  }

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: "Inter", sans-serif;
  margin-top: 0;
}

h1 {
    font-size: 12.5rem;
    font-weight: 700;
  }
  
  h2 {
    font-size: 4rem;
    font-weight: 500;
  }
  
  h3 {
    font-size: 3rem;
    font-weight: 700;
  }
  
  h4 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  p {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  a,
  li {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
  }
  
  img {
    height: auto;
    max-width: 100%;
  }


main {
    padding: 1rem;
  }


  /* header & navigation DESKTOP */

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding:1rem;
  padding-left: 1rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right:2rem;
}

.navigation ul {
  display:flex;
  list-style: none;
  padding: 2rem;
  margin:0;
  gap: 2rem;
}

.navigation li {
  margin-bottom: 1rem;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.navigation a:hover {
    color: #6a57b4;
}


.full-hero {
  background-image: url('/img/pexels-marek-piwnicki-3907296-15499467.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  border-end-start-radius: 4rem;
  border-end-end-radius: 4rem;
}


.hero-area {
  padding: 0.5rem;
  color:#ffffff;
  padding-left: 5rem;
}

.hero-area h1 {
  line-height: 12rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
}

.hero-area p {
  padding-top: 2rem;
  padding-bottom: 10rem;
}



/* intro section */
.intro {
  display: flex;
  justify-items: space-between;
  gap:1rem;
}

.intro-text {
  background: #2D4A40;
  color:#ffffff;
  padding: 5rem;
  border-radius: 0.5rem;
}

.intro-text p{
  padding-top: 3rem;
}


.intro img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  display: block;
}




/* media query for desktop */

@media (min-width: 992px) { 

 }