@import url("https://fonts.googleapis.com/css2?family=inter:wght@300;400;500;700&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  font-size: 16pt;
}

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: "Inter", sans-serif;
  margin-top: 0;
}

h1 {
  font-size: 12.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
}

a,
li {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

main {
  padding: 1rem;
}





/* header & navigation DESKTOP */

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 1rem;
  padding-left: 1rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navigation ul {
  display: flex;
  list-style: none;
  padding: 2rem;
  margin: 0;
  gap: 2rem;
}

.navigation li {
  margin-bottom: 1rem;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.navigation a:hover {
  color: #453e4f;
}

/* index hero & css */
.full-hero {
  background-image: url("/img/pexels-marek-piwnicki-3907296-15499467.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-end-start-radius: 4rem;
  border-end-end-radius: 4rem;
}

.hero-area {
  padding: 0.5rem;
  color: #ffffff;
  padding-left: 5rem;
}

.hero-area h1 {
  line-height: 12rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
}

.hero-area p {
  padding-top: 2rem;
  padding-bottom: 10rem;
}




/* intro section */
.intro {
  display: flex;
  justify-items: space-between;
  gap: 1rem;
}

.intro-text {
  background: #2d4a40;
  color: #ffffff;
  padding: 5rem;
  border-radius: 0.5rem;
}

.intro-text p {
  padding-top: 3rem;
}

.intro img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  display: block;
}



/* banner section */
.banner {
  background-color: #453e4f;
  color: #ffffff;
  padding: 7rem;
  border-radius: 1rem;
  margin: 1rem 0rem;
  text-align: center;
}
.banner button {
  padding: 1rem 3rem;
  margin-top: 1.5rem;
  border-radius: 0.25rem;
}

.banner button:hover {
  background-color: rgb(252, 221, 226);
}




/* blocks (cards) section */
.blocks {
  gap: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.block-one {
  background-image: url("/img/mossy-forest.jpg");
  color: white;
  max-width: 100%;
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  flex: 1;
}

.block-one a{
  text-decoration: none;
  color: #ffffff;
}

.block-one h2 {
  padding: 2rem;
}

.block-two {
  background-image: url("/img/josh-hild-hfp8uCQ_hy8-unsplash.jpg");
  color: white;
  max-width: 100%;
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  flex: 1;
}

.block-two a{
  text-decoration: none;
  color: #ffffff;
}

.block-two h2 {
  padding: 2rem;
}


.block-three {
  background-image: url("/img/pexels-jarod-16264341.jpg");
  color: white;
  max-width: 100%;
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  flex: 1;
}

.block-three a{
  text-decoration: none;
  color: #ffffff;
}

.block-three h2 {
  padding: 2rem;
}
.block-one img {
  display: flex;
  flex-direction: column-reverse;
}





/* css for aboutus.html page */
.about-us{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.nav-headers-pages-about {
  background-image: url(/img/maxence-pira-7R3tbHtYG3A-unsplash.jpg);
  background-position: center;
  color: white;
  max-width: 100%;
  height: 35rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  border-end-start-radius: 4rem;
  border-end-end-radius: 4rem;
}

.nav-headers-pages-about h2{
  color: white;
  padding-left: 2rem;
  padding-top: 4rem;
  font-size: 4rem;
  font-weight: 500;
}

.mission-about, .members-about, .equipment-about {
  background-color: #2d4a40;
  border-radius: 0.5rem;
  flex-grow: 1;
  min-width: 30%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.mission-about:hover, .members-about:hover, .equipment-about:hover {
   background-color: #668077; 
  }

.mission-about h3, .members-about h3, .equipment-about h3 {
  text-decoration: none;
  color: #ffffff;
  padding: 2rem 1.5rem;
}
  
.mission-about img, .members-about img, .equipment-about img {
  align-self: flex-end;
  padding: 2rem;
}
  
.mission-about a, .members-about a, .equipment-about a {
  text-decoration: none;
}
    



/* getinvolved page css */
.get-involved {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   flex-wrap: wrap;
   width: 100%;
   height: auto;
   margin-bottom: 1rem;
   margin-top: 1rem;
  }
  
  .nav-headers-pages-involved {
   background-image: url(/img/jorge-vasconez-BWLK-svXSxw-unsplash.jpg);
   background-position: center;
   color: white;
   max-width: 100%;
   height: 35rem;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 0.5rem;
   border-end-start-radius: 4rem;
  border-end-end-radius: 4rem;
  }
  
  .nav-headers-pages-involved h2 {
   color: white;
   padding-left: 2rem;
   padding-top: 4rem;
   font-size: 4rem;
   font-weight: 500;
  }
  
  .specialevents-involved, .infosessions-involved, .volunteer-involved, .careers-involved {
   background-color:#2d4a40;
   border-radius: 0.5rem;
   flex-grow: 1;
   min-width: 30%;
   height: 30rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  }

  .infosessions-involved{
    background-color: #2d4a40;
  }

  .volunteer-involved{
    background-color: #2d4a40;
  }

  .careers-involved{
    background-color: #2d4a40;
  }
  
  .specialevents-involved:hover, .infosessions-involved:hover, .volunteer-involved:hover, .careers-involved:hover {
   background-color: #4b695f;
  }
  
  .specialevents-involved h3, .infosessions-involved h3, .volunteer-involved h3, .careers-involved h3 {
   text-decoration: none;
   color: #ffffff;
   padding: 2rem 1.5rem;
  }
  
  .specialevents-involved img, .infosessions-involved img, .volunteer-involved img, .careers-involved img {
   align-self: flex-end;
   padding: 2rem;
  }
  
  .specialevents-involved a, .infosessions-involved a, .volunteer-involved a, .careers-involved a {
   text-decoration: none;
  }
  


/* footer section */
footer {
  background-color: #453e4f;
  color: #ffffff;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  padding: 3rem 0rem;
}

.footer-container {
  display: flex;
  gap: 4rem;
}

.footer-container ul {
  list-style: none;
}

.footer-container a {
  text-decoration: none;
  color: white;
}

.footer-container a:hover {
  color: #cec6d8;
}


/* media query for desktop */

@media (min-width: 992px) {
}


